html{
  background-color: #041821;
}

h1 .yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

header{
  justify-content: space space-between;
  margin: 0;
  color: white;

}

body{
  padding: 0;
  margin: 0;
}

nav{


}

h2{
  color: white;
  margin: 50px;
}
span{
  color: #1bd79e;
}
  
small{
  color: #808080;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div{
  color: white;
}

img{


}

footer{
  text-align: center;
  color: #808080;

}
