@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

html{
  background-color: #041821;
}

header{
  justify-content: space space-between;
  margin: 0;
  color: white;
  display: block;
}
aside
{
    position: absolute;
    top: 40px;
    right: 0px;
    justify-content: space-between;
    width: 100px;
}

body{
  padding: 0;
  margin: 0;
}

#texte{
  color: white;
  font-family: "Yeseva One", serif; /* Police utilisée pour les sections */

}
span{
  color: #1bd79e;
  font-family: "Yeseva One", serif; /* Police utilisée pour les sections */

}
  
small{
  color: #808080;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "monstrrat", serif;
  background-color: #40c781;
  border-radius: 3px; /* Coins arrondis */
  border-bottom: 2px solid #35a76e; /* Petite bordure en bas du bouton */
  text-align: center; /* Centrer le texte */
}

.container a{
  text-decoration: none; /* Supprimer le soulignage du lien */
  line-height: 20px; /* Changer la hauteur de la ligne d'écriture */
  color: #fff; /* Couleur du texte blanche */
}

.container:hover {
  background-color: #34a46c; /* On modifie la couleur du fond au passage de la souris */

  }

div{
  color: white;
  font-family: "monstrrat", serif;
}


footer{
  text-align: center;
  color: #808080;

}

/*responsive tablette*/
@media screen and (min-width:768px) and (max-width:1024px){  
.gallery{
      display: grid;
      grid-template-columns:repeat(5,1fr);/*On crée 5 colonnes (donc 5 images)*/
      grid-template-rows: repeat(3,1fr);
      gap: 0.6em;
      justify-items: center;
      
  }
.gallery img:nth-child(n +15) {/*on affiche que 9 images, les autres sont cachées au delà*/
        display: none;
   }
}
/*responsive mobile*/
@media screen and (max-width:767px) {
.gallery{
      display: grid;
      grid-template-columns: repeat(3,1fr);/*on crée 3 colonnes */
      grid-template-rows: repeat(3,1fr);
      gap:0.6em;
      justify-items:center;
    

  }
  

  .description{
      font-size: 1.2em;
      margin-left: 0.7em;

  }
  .galery img:nth-child(n + 9) {/*on affiche que 9 photos*/
        display: none; 
  }
  
}