@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

html{
  background-color: #041821;
}

header{
  justify-content: space space-between;
  margin: 0;
  color: white;
  display: block;
}
aside
{
    position: absolute;
    top: 40px;
    right: 0px;
    justify-content: space-between;
    width: 100px;
}

body{
  padding: 0;
  margin: 0;
}

#texte{
  color: white;
  font-family: "Yeseva One", serif; /* Police utilisée pour les sections */

}
span{
  color: #1bd79e;
  font-family: "Yeseva One", serif; /* Police utilisée pour les sections */

}
  
small{
  color: #808080;
  font-family: "monstrrat", serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "monstrrat", serif;
  background-color: #40c781;
  border-radius: 3px; /* Coins arrondis */
  border-bottom: 2px solid #35a76e; /* Petite bordure en bas du bouton */
  text-align: center; /* Centrer le texte */
}

.container a{
  text-decoration: none; /* Supprimer le soulignage du lien */
  line-height: 20px; /* Changer la hauteur de la ligne d'écriture */
  color: #fff; /* Couleur du texte blanche */
}

.container:hover {
  background-color: #34a46c; /* On modifie la couleur du fond au passage de la souris */

}


div{
  color: white;
  font-family: "monstrrat", serif;
}



footer{
  text-align: center;
  color: #808080;

}

@media (max-width: 600px) { 
  header {
      grid-template-columns: 1fr;
      padding: 0 32px;
      text-align: center;
      font-size: 14px;
  }

  /* Masquer les images après la 9e sur mobile */
  .grid.container img:nth-child(n + 10) {  
      display: none; 
  }

  main ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      color: white;
      font-size: 7px;
      align-items: center;
      text-align: center;
      justify-content: center;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  header {
      font-size: 24px;
  }

  /* Masquer les images après la 9e sur tablette */
  .grid.container img:nth-child(n + 10) {
      display: none; 
  }

  main {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      color: white;
      font-size: 7px;
      align-items: center;
      text-align: center;
      justify-content: center;
  }
}